
<div class="container">
  <img src="/assets/logo.png" class="logo">
  <h1>Kaj tu živi</h1>

  <div class="search">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <md-input-container>
        <input mdInput placeholder="Iskanje..." [mdAutocomplete]="auto" [formControl]="vrstaCtrl" ngModel name="kanonicno_ime" ngDefaultControl>
      </md-input-container>

      <md-autocomplete #auto="mdAutocomplete">
        <md-option *ngFor="let vrsta of filteredVrste">
          {{ vrsta }}
        </md-option>
      </md-autocomplete>
    </form>
  </div>
</div>
